# Python artifacts
__pycache__/
*.py[cod]
.pyre

# VS Code settings
.vscode/

# Data and audio files
data/raw/**
!data/raw/.gitkeep
!data/raw/target/.gitkeep
!data/raw/others/.gitkeep

# Models and results artifacts
models/
results/
temp_audio/
docs/
